body{
    background-color: #333;
    color: aqua;
                }
                h1{
                    font-size: 45px;
                }
                p{
                    color: aquamarine;
                    font-size: larger;
                }